@import '../../Globals.scss';
li:hover .project-image {      
    opacity: 1;
}
li:hover .project-card {      
    transform: translateY(-0.5rem);
}
.project-card {
    width: 20vw;
    height: auto;
    box-shadow: $shadow_1;
    margin: 1rem;
    border-radius: 1%;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & .project-image{
        transition: all 0.5s ease-in-out;
        z-index: 2;
        margin-bottom: 1rem;
        opacity: 0.8;
    }
    & .project-title {
        color: $col_DarkGray;
        font-family: $font_family_2;
        font-weight: 700;
    }
    & .project-info {
        color: $col_MediumGray;
        font-size: $fontS;
        padding: 0rem 1rem;
        // & .project-category {
        // }
        & .project-description {
            text-align: left;
        }
        & .project-skills {
            font-style: italic;           
            text-align: left;
            font-size: $fontXS*1.2;
        }
        
    }
    & .project-buttons {
        display: flex;
        justify-content: center;
        font-size: $fontS*0.9;
        cursor: pointer;
        opacity: 0.9;
        transition: all 0.5s ease-in-out;
        & .button-repo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2rem;
            color: $col_White;
            background-color: $col_Dark;
            width: 100%;
            margin: auto;
            transition: all 0.5s ease-in-out;
        }
        & .button-link {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2rem;
            color: $col_White;
            background-color: $col_Light;
            width: 100%;
            margin: auto;
        }
        &:hover {
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 770px) {

    li:hover .project-card {      
        transform: translateY(-0.5rem);
    }
    .project-card {
        margin: 0.5rem 0.2rem;
        border-radius: 1%;
        & .project-title {
            color: $col_DarkGray;
            font-family: $font_family_2;
            font-weight: 700;
            padding: 0.5rem;
        }
        & .project-info {
            display: none;
        }
    }
    
}
@media only screen and (max-width: 450px) {
    .project-card {
        font-weight: 500;
        width: 40vw;
        margin: 0.6rem 0.2rem;
        & .project-title {
            padding: 0.2rem;
        }
    }
}
