@import '../../Globals.scss';

.portfolio{
    background-color: white;
    clip-path: polygon(0% 5%, 100% 0%, 100% 94%, 0 100%);
    text-align: center;
    padding: 20% 0%;
}
.portfolio ul {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     list-style: none;
     margin: 0;
     padding: 1rem;
 }


