@import '../../Globals.scss';

.title {
    font-size: $fontXL;
    z-index: 1;
    
}
.rectangle {
    z-index: -1;
    height: 0.5rem;
    position: relative;
    top: -2rem;
    left: -4rem;
    width: 60%;
    margin: auto;
}

@media only screen and (max-width: 770px) {
    .title {
        font-size: $fontL;      
    }

}