@import '../../Globals.scss';

.about{
    background-color: $col_Background;
    margin: 10%;
    padding: 5%;
    box-shadow: 30px 30px 0 0 $col_Medium;

    &_text {
        font-size: $fontS*1.5;
    }
}

