@import '../../Globals.scss';

.navbar {
    position: -webkit-sticky;
    position: sticky;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vh 20vw ;
    background-color: $col_Dark;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);    
    &__link {
        text-align: center;
        padding: 0.5rem 1rem ;
        text-decoration: none;
        color: $col_White;
        font-size: $fontS;
        font-weight: $weightM;
        opacity: 0.8;
        &:hover {
            transition: 0.5s ease-in-out;
            color: $col_Dark;
            text-decoration: none;
            font-weight: $weightL;
            transform: scale(1.02);
            opacity: 1;
            background-color: white;
        }
    }
}

