@import '../../Globals.scss';

.intro{
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  height: 80vh;
  background-color: $col_Dark;
  text-align: center;
  z-index: -2;
  padding-top: 2rem;
}
.down{
  color: $col_White;
  font-size: $fontXL;
  opacity: 0.6;
  &:hover {
    text-decoration: none;
    transition: 1s ease-in-out;
    transform: scale(1.1);
    opacity: 1;
  }
}
.header{
  display: flex;
  padding: 8vh 0vw; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
    &__title {
      color: $col_Light;
      font-size: $fontXL*2.5;
      font-family: $font_family_1;
      font-weight: $weightXS;
      text-align: left;
    }
    &__avatar {
      height: 35vh;
      width: 35vh;
      border-radius: 50%;
      box-shadow: 0 0 50px #ccc;
    }
  }

  @media only screen and (max-width: 770px) {
    .intro{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      height: 55vh;
    }
    .down{
      font-size: $fontM;
    }
    .header{
      display: flex;
      padding: 2vh 0vw; 
      flex-direction: column;
        &__title {
          font-size: $fontXL*1.5;
        }
        &__avatar {
          height: 25vh;
          width: 25vh;
          margin-bottom: 1rem;
        }
      }
}
@media only screen and (max-width: 450px) {
  .header {
    &__title {
      font-size: $fontXL;
    }
    &__avatar {
      margin-top: 1rem;
      height: 20vh;
      width: 20vh;
    }
  }
}



