@import '../../Globals.scss';

.intro{
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  height: 85vh;
  background-color: $col_Dark;
  text-align: center;
  z-index: -2;
}
.down{
  color: $col_White;
  font-size: $fontL;
  &:hover {
    text-decoration: none;
    transition: 1s ease-in-out;
    transform: scale(1.1);
    opacity: 0.8;
  }
}
.header{
  display: flex;
  padding: 10vh 0vw; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
    &__title {
      color: $col_Light;
      font-size: $fontXL*2.5;
      font-family: $font_family_1;
      font-weight: $weightXS;
      text-align: left;
    }
    &__avatar {
      height: 35vh;
      width: 35vh;
      border-radius: 50%;
      box-shadow: 0 0 50px #ccc;
    }
  }


